
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Reference Url:</b> <%= @content_block.referenceURL %></p>
<p><b>Tp Url:</b> <%= @content_block.tpURL %></p>
<p><b>Step1:</b> <%= @content_block.step1 %></p>
<p><b>Step2:</b> <%= @content_block.step2 %></p>
<p><b>Step3:</b> <%= @content_block.step3 %></p>
<p><b>Step4:</b> <%= @content_block.step4 %></p>
<p><b>Step5:</b> <%= @content_block.step5 %></p>
<p><b>Step6:</b> <%= @content_block.step6 %></p>
<p><b>Step7:</b> <%= @content_block.step7 %></p>
<p><b>Step8:</b> <%= @content_block.step8 %></p>
<p><b>Step9:</b> <%= @content_block.step9 %></p>
